/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.tomorrow-thin {
    font-family: "Tomorrow", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .tomorrow-extralight {
    font-family: "Tomorrow", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .tomorrow-light {
    font-family: "Tomorrow", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .tomorrow-regular {
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .tomorrow-medium {
    font-family: "Tomorrow", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .tomorrow-semibold {
    font-family: "Tomorrow", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .tomorrow-bold {
    font-family: "Tomorrow", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .tomorrow-extrabold {
    font-family: "Tomorrow", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .tomorrow-black {
    font-family: "Tomorrow", sans-serif;
    font-weight: 900;
    font-style: normal;
  }  

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}
body
{
    width: 100%;
    min-height: 100vh;
    background-color: #101014;
    /* e8e8e8 */
}
